@tailwind base;
@tailwind components;
@tailwind utilities;

.task-button-group {
    background-color: antiquewhite;
    padding: 0 12px;
}

.todo {
    color: #64748b;
}
.ongoing {
    color: #76a9fa;
}

.done {
    color: #84cc16;
}

.prior {
    padding: 0.125rem;
    border-radius: 0.25rem;
    border: 0.3px solid darkgrey;
}
.high {
    color: #bb0000;
    background-color: azure;
}

.medium {
    color: #e67e22;
}

.low {
    background-color: darkgrey;
    color: #fffa37;
}
.priority-buttons-container {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0;
    left: -160px;
    top: 30px;
}
.status-buttons-container {
     position: absolute;
    inset: 0px auto auto 0px;
    margin: 0;
    transform: translate(0px, 20px);
}